<% provide(:title, "Top") %>
<% provide(:class_text, 'log_in') %>
<div class= "boxA">
  <h1>TaskApp</h1>
  <p>
   TaskAppは簡易ToDo管理ツールです。<br>
   <br>
   ↓↓初めてのご利用↓↓
   </p>
   
   <center>
   <% if current_user %>
     <% if current_user.admin %>
        <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success" %>
     <% else %>
        <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success disabled" %>
     <% end %>
   <% else %>
      <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success" %>
   <% end %>
  </center>  
</div>

<div class= "boxB">
  <h2>ログイン</h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if current_user %>
        <%= render 'form2' %>
      <% else %>
        <%= render 'form' %>
      <% end %>
    </div>
  </div>
</div>     　　
