<% provide(:title, 'Edit Task') %>

<h2>タスク編集</h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
  
      <%= form_with(model: @task, url: {controller: 'tasks', action: 'update' }, local: true) do |f| %>
        <%= render partial: 'shared/error_messages', locals: {object: @task} %>

        <%= f.label :title %> 
        <%= f.text_field :title, class: "form-control" %>

        <%= f.label :detail %>
        <%= f.text_area :detail, class: "form-control", rows: 5 %>
      
        <br>
        <%= f.submit "更新", class: "btn btn-sm btn-primary" %>
        <%= link_to "キャンセル", user_tasks_path, class: "btn btn-sm btn-default" %>
       
        
      <% end %>
        
      
    </div>
  </div>

